<div control class="control-wrapper --hide">
	<div class="control">
		<div class="led">0</div>
		<div class="button-group-control">
			<label class="label">5</label>
			<button control-action-move value="5" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">4</label>
			<button control-action-move value="4" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">3</label>
			<button control-action-move value="3" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">2</label>
			<button control-action-move value="2" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">1</label>
			<button control-action-move value="1" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">0</label>
			<button control-action-move value="0" class="button"></button>
		</div>
		<div class="button-group-control">
			<label class="label">
				<img class="icon" src="/assets/icons/bell.svg">
			</label>
			<button class="button"></button>
		</div>
	</div>
</div>
