<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- data.title %></title>
	<link rel="stylesheet" href="/bundles/bundle.min.css">
</head>
<body>
	<% include ./floors/fifth %>
	<% include ./floors/fourth %>
	<% include ./floors/third %>
	<% include ./floors/second %>
	<% include ./floors/first %>
	<% include ./floors/ground %>
	<% include control %>
	<% include machine %>
	<script src="/bundles/bundle.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>