<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- data.title %></title>
	<link rel="stylesheet" href="/bundles/bundle.min.css">
</head>
<body>
	<% include ./floors/fourth %>
	<% include ./floors/third %>
	<% include ./floors/second %>
	<% include ./floors/first %>
	<% include ./floors/ground %>
</body>
</html>