<section class="machine-wrapper --hide">
	<form class="form">
		<ul data-machine class="machine"></ul>
		<button class="confirm"><img class="icon" src="/assets/images/buy.svg">Comprar</button>
	</form>
</section>

<!-- LOGIN -->
<section class="machine-wrapper --login --hide">
	<form class="form" authenticate-submit >
		<ul data-apts class="machine"></ul>
		<input class="password" type="password" name="password" placeholder="informe sua senha" maxlength="4" />	
		<button type="submit" class="confirm">Entrar<img class="icon" src="/assets/images/arrow_right.svg"></button>
	</form>
</section>