<section class="machine-wrapper">
	<ul class="machine">
		<li class="item">
			<input type="radio" class="radio" name="item" id="0">
			<label for="0"><img class="image" src="/assets/images/candy1.png"></label>
			<span class="description"></span>
		</li>
		<li class="item">
			<input type="radio" class="radio" name="item" id="1">
			<label for="1"><img class="image" src="/assets/images/drink1.png" ></label>
			<span class="description"></span>
		</li>
		<li class="item">
			<input type="radio" class="radio" name="item" id="2">
			<label for="2"><img class="image" src="/assets/images/drink2.png"></label>
			<span class="description"></span>
		</li>
	</ul>

	<ul class="machine">
		<li class="item">
			<input type="radio" class="radio" name="item" id="3">
			<label for="3"><img class="image" src="/assets/images/drink3.png"></label>
			<span class="description"></span>
		</li>
		<li class="item">
			<input type="radio" class="radio" name="item" id="4">
			<label for="4"><img class="image" src="/assets/images/fruit1.png" ></label>
			<span class="description"></span>
		</li>
		<li class="item">
			<input type="radio" class="radio" name="item" id="5">
			<label for="5"><img class="image" src="/assets/images/fruit2.png"></label>
			<span class="description"></span>
		</li>
	</ul>
</section>