<!-- Quinto Andar -->
<section id="fifth" class="floor --fifth">
	<div class="door-wrapper">
		<div class="led">5</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
</section>