<!-- Quinto Andar -->
<section id="fifth" class="floor --fifth">
	<img class="sun" src="/assets/images/sun.svg" />
	<img class="cloud --tilted" src="/assets/images/cloud_dark.svg">
	<img class="cloud --normal" src="/assets/images/cloud.svg">
	<div class="door-wrapper">
		<div class="led">5</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
</section>