<!-- Primeiro Andar -->
<section id="first" class="floor --first">
	<div class="door-wrapper">
		<div class="led">1</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
	<img class="time" src="/assets/images/relogio.svg">
</section>