<!-- Quarto Andar -->
<section id="fourth" class="floor --fourth">
	<div class="door-wrapper">
		<div class="led">4</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
	<div cat-action class="vase-wrapper">
		<img class="vase" src="/assets/images/vaso.svg">
		<img class="cat" src="/assets/images/gato.svg">
	</div>
</section>