<!-- Andar Térreo -->
<section id="ground" class="floor --ground">
	<div class="door-wrapper">
		<div class="led">0</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
	<img class="guard" src="/assets/images/guarda.svg">
</section>