<!-- Terceiro Andar -->
<section id="third" class="floor --third">
	<div class="door-wrapper">
		<div class="led">3</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
</section>