<!-- Terceiro Andar -->
<section id="third" class="floor --third">
	<img class="machine-image" open-machine src="/assets/images/machine.jpg" />
	<img class="vase" src="/assets/images/vase.svg" />
	<img class="trash" src="/assets/images/trash.svg" />
	<div class="door-wrapper">
		<div class="led">3</div>
		<div class="door">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<button open-action class="open"></button>	
	</div>
</section>